@tailwind base;
@tailwind components;
@tailwind utilities;
.icon {
    background: url("@/assets/images/Search.png") no-repeat left;
    background-color: white;
    background-size: 20px;
    background-position-x: 31%;
}

.hoverEffect:hover {
    position: static;
    margin-top: -20px;
    transition: 0.5s;
}


/* (320x480) Smartphone, portrait */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .logincss {
        zoom: 70%;
        position: fixed;
        overflow: hidden;
    }
    .registercss {
        zoom: 70%;
        position: fixed;
        overflow: hidden;
    }
}


/* (2048x1536) iPad 3 */

@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) {
    .logincss {
        zoom: 120%;
        position: fixed;
        overflow: hidden;
    }
    .registercss {
        zoom: 120%;
        position: fixed;
        overflow: hidden;
    }
}

/* (390x844) Iphone 12 Pro */

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5450px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px 0 0 10px;
    }

    .img {
        margin-top: 50px;
    }

}

/* (414x896) Iphone XR */

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5500px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px auto 0 auto;
    }

    .img {
        margin-top: 50px;
    }

}

/* (375x667) Iphone SE */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5450px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px auto 0 auto;
    }

    .img {
        margin-top: 50px;
    }

}

/* (393x851) Pixel 5 */

@media only screen and (min-device-width: 393px) and (max-device-width: 851px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5450px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px auto 0 auto;
    }

    .img {
        margin-top: 50px;
    }

}

/* (360x740) Samsung Galaxy S8+ */

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5450px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px auto 0 auto;
    }

    .img {
        margin-top: 50px;
    }

}

/* (412x915) Samsung Galaxy S20 Ultra */

@media only screen and (min-device-width: 412px) and (max-device-width: 915px) {

    .chooseSubject {
        display: block;
        overflow: hidden;
        height: 5520px;
    }

    .subjects {
        position: relative;
        display: block;
        margin: -10px auto 0 auto;
    }

    .img {
        margin-top: 50px;
    }

}